{% block header %}
<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-title">
        <h1 class="title">&gt; blank source code</a></h1>
        <h2 id="title-quote" class="subtitle"></h2>
      </div>
      <div class="logo">
        <img class="author-icon" src="/images/logo-blink.gif" alt="BlankSourceCode">
      </div>
    </div>
    <div class="nav-container">
      <nav id="nav" class="nav">
        <a id="nav-toggle" class="nav-toggle" aria-hidden="true"><i class="fa fa-bars"></i></a>
        <ul id="menu" role="menubar" aria-hidden="false">
          {% for name, uri in mainMenu %}
          <li role="menuitem"><a href="{{ uri }}"
          {%
            if (uri == '/' and path.slice(0, 5) == 'pages') or
            (uri == '/' and path == '') or
            (uri != '/' and '/' + path.slice(0, uri.length -1) == uri)
          %}
            class="current"
          {% endif %}>{{ name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <div class="nav-social">
        <a href="https://github.com/BlankSourceCode" target="_blank" title="github.com/BlankSourceCode"><i class="fa fa-github"></i></a>
        <a href="https://twitter.com/BlankSourceCode" target="_blank" title="twitter.com/@BlankSourceCode"><i class="fa fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCuLjKyj9PR4_3T4oexXz3Fg" target="_blank" title="youtube.com/BlankSourceCode"><i class="fa fa-youtube-play"></i></a>
        <a href="https://www.linkedin.com/in/james-lissiak" target="_blank" title="linkedin.com/in/James-Lissiak"><i class="fa fa-linkedin"></i></a>
        <a href="mailto:support@blanksourcecode.com" target="_blank" title="email"><i class="fa fa-envelope"></i></a>
      </div>
    </div>
  </div>
</header>
{% endblock %}
