{% block header %}
<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-title">
        <h1 class="title">&gt; blank source code</a></h1>
        <h2 class="subtitle">"file -> new project..."</h2>
      </div>
      {% if theme.logo %}
      <div class="logo">
        
      </div>
      {% endif %}
    </div>
    <nav id="nav" class="nav">
      <a id="nav-toggle" class="nav-toggle" aria-hidden="true"><i class="fa fa-bars"></i></a>
      <ul id="menu" role="menubar" aria-hidden="false">
        {% for name, uri in mainMenu %}
        <li role="menuitem"><a href="{{ uri }}"{% if "/" + path == uri %} class="current"{% endif %}>{{ name }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
{% endblock %}
