<div class="info sidebar-item">
  <img class="author-avatar" src="/images/head.jpg" alt="James Lissiak">
  <h1 class="author-name">James Lissiak</h1>
  <h2 class="author-description">Full-time developer with too many side-projects and not nearly enough time.</h2>
	<div class="info-social">
		<a href="https://github.com/BlankSourceCode" target="_blank" title="github.com/BlankSourceCode"><i class="fa fa-github"></i></a>
		<a href="https://twitter.com/BlankSourceCode" target="_blank" title="twitter.com/@BlankSourceCode"><i class="fa fa-twitter"></i></a>
		<a href="https://www.youtube.com/channel/UCuLjKyj9PR4_3T4oexXz3Fg" target="_blank" title="youtube.com/BlankSourceCode"><i class="fa fa-youtube-play"></i></a>
		<a href="https://www.linkedin.com/in/james-lissiak" target="_blank" title="linkedin.com/in/James-Lissiak"><i class="fa fa-linkedin"></i></a>
		<a href="mailto:support@blanksourcecode.com" target="_blank" title="email"><i class="fa fa-envelope"></i></a>
	</div>
</div>