// Colors
$color-background: #eee;
$color-foreground: #555;
$color-hover-foreground: #999;
$color-card-background: #fff;
$color-link-foreground: #094771;
$color-header-background: #1e1e1e;

// Fonts
$font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-mono: Consolas, Monaco, Menlo, Consolas, monospace;
$font-size: 14px;

// Sizes
$container-max-width: 90em;
$media-main-fold-width: 60em;
$corner-radius: 0.3em;